<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{ page.title | default: site.title }}</title>
    <link rel="stylesheet" href="/assets/main.css">
    <link type="application/atom+xml" rel="alternate" href="http://localhost:4000/feed.xml" title="SAPL - The Streaming Attribute Policy Language and Engine">
  </head>

  <body>
<style>

.mainContainer {  
  display: grid;
  height:100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 1fr 10%;
  gap: 0px 0px;
  grid-auto-flow: column;
  grid-template-areas:
    "."
    "."
    ".";
}

.mainHeader { 
  grid-row-start:1; 
  grid-row-end:2; 
} 
.mainContent { 
  grid-row-start:2; 
  grid-row-end:3; 
}
.mainFooter { 
  grid-row-start:3; 
  grid-row-end:4; 
}
</style>

<div class="mainContainer">
  <div class="site-header">
    <div class="wrapper">  
  <div class="mainHeader">
    {% include header.html %}
  </div></div>
  </div>

 
  <div class="mainContent">
    <div class="wrapper"></div>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}"/>
    <link rel="stylesheet" href="{{ '/assets/css/rouge.css' | relative_url }}" />
    <script src="{{ '/assets/js/accordian.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/heading_links.js' | relative_url }}"></script>
    <div class="chrome:content">
      <div class="chrome:main">
        {% if site.auto_page_title and page.title %}
        {% if page.auto_title != false %}
        <h1 id="{{ page.title | replace: " ", "-" | downcase | url_encode }}">{{ page.title }}</h1>
        {% endif %}
        {% endif %}
        {{ content }}
      </div>
      {% if site.sidebar %} {% include sidebar.html %} {% endif %}
    </div>
  </div></div>

  <div class="site-header">
    <div class="wrapper">
  <div class="mainFooter">
    {% include footer.html %}
  </div>
  </div></div>

</div>
</body>
</html>
